* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #e1e1e1;
}

aside {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
}

.toggle {
  margin: 15px;
  font-size: 40px;
  color: #1e1e1e;
}
.toggle i {
  transition: all 0.1s ease;
  cursor: pointer;
}
.toggle i:active {
  transform: translate(3px, 2px);
}
.menu_area ul {
  width: 100%;
  list-style-type: none;
}
.menu_area li {
  padding: 15px;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.menu_area li:hover {
  color: #1e1e1e;
  background-color: #e1e1e1;
  cursor: pointer;
}
.menu_area {
  width: 0;
  height: 100vh;
  background-color: #1e1e1e;
  color: #e1e1e1;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.6s ease;
}
