.buttons {
    width: 300px;
    height: 100px;
    border: 1px solid black;
}

.red {
    background-color: #FF0000;
}
.green {
    background-color: #00FF00;
}
.blue {
    background-color: #00F;
}

.vermelho {
    background-color: #FF0000;
}
.verde{
    background-color: #00FF00;
}

.image {
    height: 200px;
}